<h1>Report!</h1>
<%= form_with do |form| %>
  <div class="field">
    <%= form.label "Select Report Year" %>
    <%= form.select :year, (Date.today.year-3)..(Date.today.year), :selected => Time.current.year %>
  </div>
    
  <div class="actions">
    <%= form.submit ("View"), class: "btn" %>
  </div>
<% end %>

<table>
    <tr>
        <th></th>
        <th>Most Stocked Item</th>
        <th>Most Stocked Brand</th>
        <th>Most Stocked Category</th>
        <th>Highest Revenue</th>
        <th>Least Stocked Item</th>
        <th>Least Stocked Brand</th>
        <th>Least Stocked Category</th>
        <th>Lowest Revenue</th>
    </tr>
    <% @report.each do |key, value| %>
        <tr>
            <th><%= key %></th>

            <%# Most Stocked Item %>
            <% if value[:max_quantity_log].present? %>
                <td>
                    SKU: <%= value[:max_quantity_log][:item_sku] %><br/> 
                    Quantity: <%= value[:max_quantity_log][:item_quantity] %>
                </td>
            <% else %>
                <td></td>
            <% end%>

            <%# Most Stocked Brand %>
            <% if value[:max_quantity_by_brand_log].present? %>
                <td>
                    Brand: <%= value[:max_quantity_by_brand_log][:item_brand] %><br/>
                </td>
            <% else %>
                <td></td>
            <% end%>
            
            <%# Most Stocked Category %>
            <% if value[:max_quantity_by_category_log].present? %>
                <td>
                    Category: <%= value[:max_quantity_by_category_log][:item_category] %><br/>
                </td>
            <% else %>
                <td></td>
            <% end%>

            <%# Highest Revenue %>
            <% if value[:max_revenue_log].present? %>
                <td>
                    SKU: <%= value[:max_revenue_log][:item_sku] %><br/>
                    Revenue: <%= value[:max_revenue_log][:item_quantity] * value[:max_revenue_log][:item_price] %>
                </td>
            <% else %>
                <td></td>
            <% end%>
            
            <%# Least Stocked Item %>
            <% if value[:min_quantity_log].present? %>
                <td>
                    SKU: <%= value[:min_quantity_log][:item_sku] %><br/>
                    Quantity: <%= value[:min_quantity_log][:item_quantity] %>
                </td>
            <% else %>
                <td></td>
            <% end%>
            
            <%# Least Stocked Brand %>
            <% if value[:min_quantity_by_brand_log].present? %>
                <td>
                    Brand: <%= value[:min_quantity_by_brand_log][:item_brand] %><br/>
                </td>
            <% else %>
                <td></td>
            <% end%>

            <%# Least Stocked Category %>
            <% if value[:min_quantity_by_category_log].present? %>
                <td>
                    Category: <%= value[:min_quantity_by_category_log][:item_category] %><br/>
                </td>
            <% else %>
                <td></td>
            <% end%>

            <%# Lowest Revenue %>
            <% if value[:min_revenue_log].present? %>
                <td>
                    SKU: <%= value[:min_revenue_log][:item_sku] %><br/>
                    Revenue: <%= value[:min_revenue_log][:item_quantity] * value[:min_revenue_log][:item_price] %>
                </td>
            <% else %>
                <td></td>
            <% end%>
        </tr>
    <% end %>
</table>

<%= link_to 'Back', items_path %>

<style>
table, th, td {
    border:1px solid black;
}
</style>